body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    justify-content: center;
    align-items: center;
}

main {
    background-color: hsl(0, 0%, 100%);
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border-radius: 5%;
    padding: 15px; 
}

.qrLogo { 
    height: 300px;
}

.qrLogo img { 
    height: 300px;
    border-radius: 5%;
}

.qrText {
    height: 170px;
    text-align: center;
    padding: 5px; 
}

.qrText p:nth-of-type(1) {
    font-weight: 900;
    color: hsl(218, 44%, 22%); 
    font-size: 150%;
}

.qrText p:nth-of-type(2) {
    font-weight: 100;
    color: hsl(220, 15%, 55%);
    font-size: 115%;
}

